.historia-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.historia {
    overflow-x: auto;
}

.historia::-webkit-scrollbar {
    display: none;
}

.timeline {
    --timeline-color: var(--bg-info);
    position: relative;
    list-style: none;
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    font-family: "Goldplay Regular";
    height: 400px;
    width: 100% !important;

    /* max-width: 1056px; */
    /* width: 100%; */
}
.lista{
    list-style: none;
}
/* middle line */
.timeline:before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    /* width: calc(100% - 6rem); */
    width: 100% !important;
    height: 0.25rem;
    background: var(--timeline-color);
}

.timeline li div time {
    font-family: "Goldplay SemiBold";
    font-size: 1.25rem;
}

.timeline li {
    flex-shrink: 0;
    min-width: 14rem;
    text-align: left;
   
    height: 185px;
    border-left: 3px var(--timeline-color) dashed;
    align-self: flex-start;
}

/*  event in even position are bottom-aligned */
.timeline li:nth-child(2n) {
    align-self: flex-end;
}

.timeline .prueba {
    position: relative;
    padding: 10px;
    height: 185px;
}

/* style for the dot over the timeline */
.timeline li:before {
    content: "";
    position: absolute;
    margin-left: 0px;
    transform: translate(-50%, -50%);
    border: 1px var(--timeline-color) solid;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--timeline-color);
}

/* position of the event arrow in odd position */
.timeline li:nth-child(2n - 1):before {
    top: 100%;
      margin-top: 15px;
  
}

/* position of the event arrow in even position */
.timeline li:nth-child(2n):before {
    bottom: 100%;
    margin-top: 15px;
}
.timeline li:nth-child(2n) .prueba:before {
    height: 50px !important;

}
.time-text {
    font-size: 0.875rem;
}

@media (max-width: 1000px) {
    .historia{
        width: 100%;
    }
     .historia-container {
        gap: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .historia-container .web {
        display: none;
    }
    .historia-container  .btn-movil{
        margin-top: 1.2rem;
        display: flex !important;
        flex-direction: row;
        gap: 1.5rem;
    }
    
}