:root {
    --bg-primary: #20208E;
    --bg-info: #009FDD;
    --font-bold: 'Goldplay SemiBold';
    --font-medium: 'Goldplay Medium';
    --font-regular: 'Goldplay Regular';
}

.btn-whatsapp {
    height: 6rem;
    width: 6rem;
    padding: 1.5rem;
    border-radius: 50%;
    background-color: #fff;
    display: grid;
    place-items: center;
    position: absolute;
    bottom: -3rem;
    right: 3rem;
    z-index: 9;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-whatsapp img {
    height: 100%;
    width: 100%;
}

@media (max-width: 960px) {
    .btn-whatsapp {
        width: 4rem;
        height: 4rem;
        bottom: -2rem;
        padding: 0.8rem;
    }
}

/*** About ***/
.about-content {
    display: flex;
}

.about-text {
    flex-shrink: 0;
    width: 24rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.about-text h2 {
    font-family: var(--font-bold);
    color: var(--bg-primary);
}

.about-text h3 {
    font-family: var(--font-medium);
    color: var(--bg-info);
}

.about-text h5 {
    font-family: var(--font-regular);
}

.about-text .actions {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.about-text .actions .btn-slider {
    all: unset;
    flex-shrink: 0;
    cursor: pointer;
    background-color: var(--bg-primary);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.about-text .actions .btn-slider img {
    height: 50%;
    width: 50%;
    object-fit: contain;
}


.about-flex {
    display: flex;
    flex-wrap: nowrap;
    gap: 2.5rem;
}

.about-flex .about-item.active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.about-flex .about-item.active .body {
    border-color: transparent;
}

.about-item {
    width: 22rem;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.about-item .header {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    overflow: hidden;
    flex-shrink: 0;
    height: 16rem;
}

.about-item .body {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    overflow: hidden;
    height: 100%;
    padding: 1rem 2rem 4rem 2rem;
    border: 1px solid var(--bg-info);
    border-top: 0;
}

.about-item .content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about-item .content h3 {
    color: var(--bg-info);
    font-family: var(--font-medium);
}

.about-item .content p {
    color: var(--bg-primary);
    font-family: var(--font-regular);
}

.about-item .header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.about-item .action {
    /*margin-top: auto;*/
}

.about-item .action .btn {
    height: 2.25rem;
    border-radius: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
}
/*Logos Sliders*/
@media (max-width: 960px) {
    .clients {
        border-radius: 50px;
    }
}
.logos {
    align-items: center;
    background: #e3e3e3;
    display: flex;
    height: 100vh;
    justify-content: center;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}
.slider {
    background: white;
   /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);*/
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 250px;
}

/*Historias de Exito*/
